*.iml
target
.idea
/data/dataresult.txt
/data/fileofmultiple.txt
/data/print.txt
/data/write.txt
/data/message.txt
/src/main/java/ru/job4j/io/files/directory/file1.txt
/src/main/java/ru/job4j/io/files/directory/file2.txt
log.txt